@font-face {
    font-family: 'PP';
    font-style: normal;
    font-weight: lighter;
    src: local('PP Fragment Serif Light'), url('./fonts/PPFragment-SerifLight.woff') format('woff');
}

@font-face {
    font-family: 'PP';
    font-style: normal;
    font-weight: normal;
    src: local('PP Fragment Text Regular'), url('PPFragment-TextRegular.woff') format('woff');
}


@font-face {
    font-family: 'PP';
    font-style: normal;
    font-weight: bold;
    src: local('PP Fragment Serif ExtraBold'), url('./fonts/PPFragment-SansExtraBold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

:root {
    --dark-green: #023436;
    --light-green: #2D9ABB;
    --violet-purple: #832AD0;
    --light-blue: #3C249C;
    --dark-blue: #0B1D41;

    --bar-thickness: 53px;

}

body {
    font-family: 'PP', sans-serif;
    background-color: black;
    color: white;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-position: center 10%;
    z-index: -1;
    background-image: url(/img/bg.jpg);
    filter: blur(5px);
    opacity: var(--background-opacity, 1);
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.loading-screen.hidden {
    opacity: 0;
}

.loading-bar-container {
    width: 400px;
    height: 30px;
    border: 2px solid #fff;
}

.loading-bar {
    height: 100%;
    background-color: rgb(37, 204, 255);
    width: 0%;
    transition: width 0.2s ease-in-out;
}

.star{
    filter: invert(1);
    width: 10%;
    margin-bottom: 100px;
}

h1,
.glow {
    --glow-color: rgb(255, 255, 255);
    /* define the glow color */
    --glow-spread: 4px;
    /* define the glow spread */
    color: #fff;
    /* set the color of the text */
    text-shadow: 0 0 var(--glow-spread) var(--glow-color);
    line-height: 1.2;
    /* adjust the line-height */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.fa-brands {
    font-size: 24px;
}

.fa-brands:hover {
    cursor: pointer;
    text-shadow: 0 0 2px #fff;
}


a {
    color: currentColor;
    text-decoration: none;
}

.title {
    font-weight: 500;
    letter-spacing: 5px;
    word-spacing: 6px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-t {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-l {
    padding-right: 30px;
}

.sidebar {
    padding: 0 15px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    width: var(--bar-thickness);
    height: 100%;
}

.sidetext {
    flex: 1;
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 5px;
    word-spacing: 14px;
    text-align: center;
    gap: 30px;
}

.small {
    font-size: 10px;
}

.logo {
    width: 50px;
    padding: 10px;
    fill: white;
}


main {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.wrap {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
    gap: 400px;
}

.col {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.big {
    font-size: 5rem;
}

.sat {
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 50px;
}

.sat>* {
    flex: 1;
}

.text {
    align-items: center;
    display: flex;
}

.text ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.section2 {
    position: relative;
    text-align: center;
}

.section2>h1{
    margin-bottom: 100px;
}

.section2>h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 23px;
    font-weight: lighter;
    word-spacing: 8px;
    width: 80%;
    line-height: 2rem;
}

iframe {
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid {
    display: flex;
    justify-content: center;
    padding: 100px 0;
}


footer {
    text-align: center;
    padding: 10px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.Haurora{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.Haurora>h3{
    flex-basis: 60%;
    font-size: 23px;
    font-weight: lighter;
    word-spacing: 8px;
    line-height: 2rem;
}

.Haurora>img{
    flex: 1
}